.container-element {
    display: flex;
    justify-content:center;
    text-align:center;
    padding-top: 6rem;
}

.bottom-element {
    display: flex;
    justify-content:center;
    padding-top: 8rem;
}